# -*- sh -*-

mkcd() {
    [ $# -eq 1 ] || { echo 'Usage: mkcd <dir>' >&2; return 1; }
    mkdir "$1" && cd "$1"
}
export -f mkcd

gicl() {
    local OPT='-n'
    [ "$*" = '-f' ] && OPT=''
    git clean -fdx $OPT
    git submodule -q foreach --recursive git clean -fdx $OPT
}
export -f gicl

### http://wttr.in/:bash.function
wttr() {
    curl -H "Accept-Language: uk" wttr.in/"${1:-Kyiv}?m"
}
