# -*- sh -*-

mkcd() {
    [ $# -eq 1 ] || { echo 'Usage: mkcd <dir>' >&2; return 1; }
    mkdir "$1" && cd "$1"
}
export -f mkcd

gicl() {
    local OPT='-n'
    [ "$*" = '-f' ] && OPT=''
    git clean -fdx $OPT
    git submodule -q foreach --recursive git clean -fdx $OPT
}
export -f gicl

gisbo() {
    local ref
    for ref in {origin,upstream}/{main,master}; do
        if git rev-parse --quiet --verify $ref >/dev/null; then
            git show-branch HEAD $ref "$@"
            return
        fi
    done
    echo >&2 'Cannot find the "main" reference'
    return 1
}
export -f gisbo

### http://wttr.in/:bash.function
wttr() {
    curl -H "Accept-Language: uk" wttr.in/"${1:-Kyiv}?m"
}
