[user]
	name = Valery V. Vorotyntsev
	email = valery.vv@gmail.com
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[alias]
	D1 = branch -D @{-1}
	ap = add -p
	author = log -1 --pretty='%an <%ae>' --author
	brc = branch -r --contains
	ci = commit
	cia = commit --amend
	ciaH = commit --amend -C HEAD
	co = checkout
	fe = fetch -p
	fea = fetch -p --all
	fem = fetch -p origin master:master
	g = grep -nHE
	log1 = log --oneline
	logb = log --pretty=%B
	me = merge --ff-only @{upstream}
	ph = push origin HEAD
	rp = rev-parse
	rps = rev-parse --short
	sb = show-branch
	sbo = show-branch HEAD origin/master
	sbu = show-branch HEAD @{upstream}
	st = status -sb
	wt = worktree
[rerere]
	enabled = true
[rebase]
	autoSquash = true
[log]
        # `git log --follow`
        # [https://twitter.com/mwotton/status/945049811010703360]
	follow = true
