[user]
	name = Valery V. Vorotyntsev
	email = valery.vv@gmail.com
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[alias]
	D1 = branch -D @{-1}
	ap = add -p
	author = log -1 --pretty='%an <%ae>' --author
	br = branch
	brc = branch -r --contains
	brr = branch -r
	ci = commit
	cia = commit --amend
	ciaH = commit --amend -C HEAD
	co = checkout
	f = fetch -p --all
	fm = fetch -p origin master:master
	g = grep -nHE
	l1 = log --oneline
	lb = log --pretty=%B
	mg = "!f() { git merge --ff-only ${*:-'@{upstream}'}; }; f"
	pf = push --force-with-lease
	ph = "!f() { local cmd='git push'; if [ $# -lt 2 ]; then $cmd origin ${1:-HEAD}; else $cmd $@; fi; }; f"
	phf = "!f() { local cmd='git push --force-with-lease'; if [ $# -lt 2 ]; then $cmd origin ${1:-HEAD}; else $cmd $@; fi; }; f"
	rp = rev-parse
	rps = rev-parse --short
	sb = show-branch
	sbo = show-branch HEAD origin/master
	sbu = show-branch HEAD @{upstream}
	st = status -sb
	wt = worktree
[rerere]
	enabled = true
[rebase]
	autoSquash = true
[log]
        # `git log --follow`
        # [https://twitter.com/mwotton/status/945049811010703360]
	follow = true
[diff "sopsdiffer"]
	textconv = sops -d
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com/
